.module-display-area {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    min-width: 30rem;
    min-height: 20rem;
    max-width: 50rem;
    max-height: 30rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 3rem black;
    border-radius: 10%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.module {
    width: 4rem;
    height: 4rem;
    display: block;
    border: 0.1rem black solid;
    border-radius: 25%;
}