.ProjectDisplayArea{
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

html{
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

body, #root{
  height: 100%;
  color: white;
}

footer {
  height: 7rem;
  background-color: #E6A943;
  color: white;
  text-align: center;
  padding-top: 25px;
  font-size: 25px;
}

